body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  background-color: #e6e6e6;
}

.section_six_rows {
  background-color: white;
  width: 80%;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
}

.section_six_rows .row{
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.blue_background {
  background-color: #76cdd8;
}

button {
  background-color: #019999;
  color:white;
  padding:10px 25px;
  border: 0;
}

.white_text{
  color: white;
}

.normal_text {
  width: 80%;
  text-align: left;
}

.light_blue_text{
  text-align: left;
  color: #83d1db;
}

.normal_blue_text{
  text-align: left;
  color: blue;
}

.small_text{
  font-size: 14px;
}

.align_center{
  display: flex;
  align-items:center;
}

.align_right{
  float: right;
}

.align_blocks_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_align_left{
  text-align: left;
}

.text_align_center{
  text-align: center;
}

.align_end{
  display: flex;
  align-items:flex-end;
}

h1,h2 {
  font-weight: normal;
}

.small_rounded_image{
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.relative_size{
  position: relative;
  width: 100%;
  height: 100%;
}

.section_two_rows {
  margin-top: 25px;
  background-color: white;
  width: 80%;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
}

.section_two_rows .row{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.section_three_rows {
  margin-top: 25px;
  background-color: white;
  width: 80%;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
}

.section_three_rows .row{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.extra_large{
  flex: 2 70%;
}

.normal{
  flex: 1 30%;
}

.dark_green_background {
  background-color: #019999;
}

.light_blue_background{
  background-color: #23d4d4;
}

.top_and_bottom_padding {
  padding: 10px 0 15px 0;
  margin-top:10px;
}

.dark_green_border{
  border: 1px solid #019999;
}

.sides_padding{
  padding: 0 15% 0 15%;
}

.slim{
  width:3%
}

.section_one_row {
  margin-top: 25px;
  background-color: white;
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
}

.w-100 {
  width: 100%;
}

.section_bottom_two_rows {
  margin-top: 280px;
  width: 80%;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row wrap;
}

.section_bottom_two_rows .row{
  height: 250px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.w-50{
  width: 50%;
}

.padding_top_15{
  padding-top: 15%; 
}

.application_form{
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: -590px;
  width: 60%;
  height: 400px;
  background-color: white;
}

.application_form .flex_container{
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
}

input::placeholder { 
                  
  display: none !important;
}


.application_form .flex_container .row{
  height: 250px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.application_form input, .application_form select{
  padding: 10px;
  margin: 10px 0 10px 0;
  min-width: 250px;
  border: 1px solid #e4e7eb;
}

.application_form select{
  min-width: 272px;
}

footer {
  padding: 10px 0 10px 0;
  text-align: center;
  color: #808080;
  font-size: 14px;
}


.right_row:hover::after{
  color: #76cdd8;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #76cdd8 transparent transparent;
  right: -8%;
  top: -45%;
  position: relative;
}

.left_row:hover::after{
  color: #76cdd8;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent transparent transparent #76cdd8;
  left: -88%;
  top: -45%;
  position: relative;
}

.hover_blue_text:hover{
  color: #76cdd8;
}

button:hover{
  background-color: #76cdd8;
}

.scale:hover{
  transform: scale(1.2);
  background-color: pink;
}

.box-shadow:hover{
  box-shadow: 0 0 0 0.2rem #24d4d4
}

input:focus, select:focus, textarea:focus {
  border-color: #24d4d4; 
  box-shadow: 0 0 0 0.2rem #24d4d4;
  outline: none;
}