body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkslategrey;
  color: white;
  text-transform: uppercase;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(44, 187, 144);
  color: #fff;
}

.game{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.title{
  position: absolute;
  top: 0;
  font-size: 4rem;
  z-index: 2;
}

.rules{
  position: relative;
}

.score{
  display: flex;
  margin-top: -10%;
  width: 30vw;
  justify-content: space-evenly;
  position: absolute;
}

.p-count,.c-count{
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.options{
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.rock, .paper, .scissor{
  padding: 0.8rem;
  width: 100px;
  border-radius: 10px;
  background: green;
  outline: none;
  border-color: darkgreen;
  border: none;
  cursor: pointer;
}

.move{
  position: relative;
  margin-top: 180px;
  font-size: 2rem;
  font-weight: bold;
}

.reload {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  background: green;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.result{
  margin-top: 20px;
  font-size: 1.2rem;
}
